header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: brown;
}

h2 {
  color: white;
}

button {
  margin-top: 10px;
  height: 40px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
